body {
  margin: 0;
  padding: 0;
  font-family: Inter, Helvetica, sans-serif;
}

.container {
  width: min(85vw, 1440px);
  margin: 0 auto;
}
nav {
  width: 100%;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arimo, Helvetica, sans-serif !important;
}
#logo {
  width: 150px;
  height: auto;
}
.navlink-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1.5rem;
}
.navlink a {
  text-decoration: none;
  color: #575757;
}
.btn {
  background-color: #1d4ed8;
  border: none;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.hero {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:
    linear-gradient(to top right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)),
    url("./images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hero-content h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: -240px;
  letter-spacing: -0.2rem;
}
.hero-content p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.hero-btn {
  font-size: 1.2rem;
  padding: 1.2rem 4.3rem;
  position: relative;
  top: 18rem;
}

/*speakers section start*/
.speakers-container h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 3rem 0px;
}
.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto 8rem 0;
}
.speaker {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #57575730;
  border-radius: 10px;
}
.speaker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.speaker-texts {
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.speaker-category {
  font-size: 0.8rem;
  font-weight: 600;
  color: #2563eb;
}
.speaker-designation {
  font-size: 0.8rem;
  color: #575757;
}
.speaker-texts h2 {
  margin: 10px 0 10px 0;
}
/* --speakers section end--*/

/* --secure your spot section start-- */
.secure-spot-title h1 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
  color: #0d1b2a;
}
.secure-spot-title p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color:#575757;
}

/* --price cards start-- */
.price-cards-container {
  width: min(75vw, 1440px);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 2.5rem auto 8rem auto;
}
.price-card {
  width: 100%;
  border: 1px solid #57575730;
  border-radius: 10px;
  padding: 2rem;
  text-align: left;
}
.price-card p {
    font-size: 0.8rem;
    color: #888888;
    margin: 0px 0 10px 0;
    font-weight: 500;
}
.price-card h2 {
    font-size: 2.7rem;
    margin: 0px 0 0px 0;
}
.price-card small{
    color: #888888;
}
.price-card hr{
    color: #88888840;
    height: 1px;
    border: none;
    background-color: #88888840;
    margin: 20px 0 0px 0;
}
.price-card ul{
    margin: 0;
    padding: 1rem;
}

.price-card ul li{
    color: #333333;
    padding: 5px;
    font-weight: 400;

}
.price-card ul li::marker{
    color: #2563eb;
}
.highlighted{
    color: white;
    background-color: #0d1b2a;
}
.highlighted ul li{
    color: #ffffff80;
}
.price-btn{
    display: flex;
    justify-content: center;
    margin:0 auto;
}



/* --price cards end-- */
/* --secure your spot section end-- */
