

body {
  margin: 0;
  padding: 0;
}

.container {
  width: min(80vw, 1320px);
  margin: 0 auto;
}
nav {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arimo, Helvetica, sans-serif;
}
.navlink-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1.5rem;
}
/* .navlink:hover{
    background-color: #1d4ed8;
    padding: 0.5rem 1rem;

} */
.navlink a {
  text-decoration: none;
  color: #575757;
}
.btn {
  background-color: #1d4ed8;
  border: none;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.hero {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:linear-gradient(to top right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("./images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hero-content h1 {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: -240px;
  letter-spacing: -0.2rem;
}
.hero-content p {
  font-family: Inter, sans-serif;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.hero-btn {
  font-size: 1.2rem;
  padding: 1.2rem 4.3rem;
  position: relative;
  top: 18rem;

}
